# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build output
.next
out
dist

# Local env files
.env
.env*.local

# OS / editor stuff
.DS_Store
*.swp
*.swo
*.sw?
.idea
.vscode

# Git files
.git
.gitignore

# Docker files (don’t need inside image)
Dockerfile
.dockerignore
